.errorPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    &__container {

    }
    &__message {
        color: $orange;
        font-weight: 600;
    }
}