.habitPerDay {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    &__done {
        cursor: pointer;
        user-select: none;

        &:hover {
            color: $cream;
        }
    }



    &__schedulePlayground {
        display: flex;

        .habitPerDay__weekDay {
            flex: 1;
            user-select: none;
        }

    }


    &__habitSidebar {
        flex: .18;
        transition: .3s;
        overflow: hidden;
        padding: 0 1rem;
        overflow-y: hidden;
        height: 70vh;

        .ss {
            transition: .3s;
        }

        &--active {
            flex: .05;

            .ss {
                opacity: 0;
            }
        }

        &__trigger {
            user-select: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            background-color: $cream;
            padding: 1rem;
        }

        &__item {
            line-height: 2;
            cursor: pointer;
            user-select: none;
            margin: 1rem 0;
            text-align: center;
            border: 2px solid transparent;
            transition: .3s;

            &:hover {
                border-color: red;
            }
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 5rem;

        p {
            &:first-child {
                font-size: 3rem;
                margin-bottom: -30px;
            }
        }
    }

    &__weekDay {
        transition: .3s;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        &__addedHabit {
            text-align: center;
            padding: 1rem 0;
        }

        &__item {
            width: 100%;
            transition: .3s;
            position: relative;
            // min-height: 150px;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                transition: .8s;
                width: 5px;
                height: 100%;
                background-color: $grey;
                z-index: -5;
            }

            p {
                transition: $animeDuration;
            }

            &--hoverWithHabitInGrab {
                &:hover {
                    min-height: 200px;
                    // p {
                    //     margin-top: -30px;
                    // }
                    background-color: rgba(128, 128, 128, 0.11);
                }
            }

            &__innerContainer {
                // max-height: 70vh;
                overflow-y: auto;
                transition: .3s;
                background-color: white;
                padding-top: 10px;
                width: 90%;
                margin: 0 auto;
                text-align: center;
                color: grey;
            }
        }
    }
}