
.habitPerDay {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;


    #FUCK {
        overflow-y: scroll;
        max-height: 60vh;
    }

    &__done {
        cursor: pointer;
        user-select: none;
        font-size: 2rem;
        color: grey;
        transition: .3s;
        
        &:hover {
            color: white !important;
        }
    }


    .sideBarHabit {
        height: 10rem;
        & > div {
            height: 90%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;

            span {
                position: absolute;
                left: 0;
                top: -10px;
                opacity: .3;
                font-size: 2rem;
            }
        }
    }

    &__schedulePlayground {
        display: flex;
        
        &--disabled {
            opacity: 0.2;
        }

        .habitPerDay__weekDay {
            flex: 1;
            user-select: none;
        }

    }

    
    &__habitSidebar {
        flex: .18;
        transition: .3s;
        overflow: hidden;
        padding: 0 1rem;
        overflow-y: hidden;
        height: 70vh;
        .ss {
            transition: .3s;
            height: 100%;
            overflow-y: scroll;
        }
        &--active {
            flex: .05;

            .ss {
                opacity: 0;
                transform: translateX(140%);
            }
        }
        
        &__trigger {
            user-select: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            background-color: $orange;
            padding: 1rem;
            height: 60px;
            margin-bottom: 1rem;
        }

        &__item {
            line-height: 2;
            cursor: pointer;
            user-select: none;
            margin: 1rem 0;
            text-align: center;
            border: 2px solid transparent;
            transition: .3s;
            &:hover {
                border-color: red;
            }
        }
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 5rem;

        &__desc {
            transition: .3s;
            font-size: 1.6rem;
            margin-bottom: -1rem;
            color: grey;
            max-height: 2rem;
            overflow: hidden;

        }


        &--minified {
            .habitPerDay__header__desc {
                    max-height: 0;
            }
        }
    }
    &__weekDay {
        transition: .3s;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        &__addedHabit {
            text-align: center;
            z-index: 555;
            position: relative;
            height: 10rem;
            width: 90%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;

            & > div {
                width: 100%;
                height: 90%;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                padding: 1rem;
                position: relative;
                overflow: hidden;

                span {
                    transition: .3s;
                    position: absolute;
                    bottom: -20%;
                    left: 50%;
                    transform: translateX(-50%);
                    font-weight: 300;
                    font-size: .8rem;
                    cursor: pointer !important;
                    color: grey;
                    width: 100%;
                    padding: 0.6rem;

                    &:hover {
                        color: white;
                    }
                }

                &:hover {
                    span {
                        bottom: 0px;
                    }
                }
            }
        }
        
        &__item {
            width: 8.5rem;
            transition: .3s;
            position: relative;
            min-height: 150px;

            // &::after{
            //     content: "";
            //     position: absolute;
            //     top: 0;
            //     left: 50%;
            //     transform: translateX(-50%);
            //     transition: .8s;
            //     width: 2px;
            //     height: 110%;
            //     background-color: #ededed11;
            //     z-index: 0;
            // }

            p {
                transition: $animeDuration;
            }

            &--hoverWithHabitInGrab {
                &:hover {
                    .habitPerDay__weekDay__item__innerContainer {
                        background-color: #fff;
                    }
                    min-height: 200px;
                    // background-color: $grey;
                    background-color: white;
                }
            }

            &__innerContainer {
                max-height: 70vh;
                overflow-y: auto;
                transition: .3s;
                // background-color: white;
                background-color: black;
                border-bottom: 2px solid white;
                z-index: 5;
                position: relative;
                padding: 1rem 0;
                width: 100%;
                margin: 0 auto;
                text-align: center;
                color: grey;
            }
        }
    }
}