.loadingPage {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    &__text {
        font-size: 5rem;
        color: white !important;
    }
}