.notFound {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;

    p {
        font-size: 5rem;
        font-weight: 500;
        color: $darkGrey;
    }

    button {
        margin-top: 3rem;
        width: 80%;
        margin-top: 0 auto;
    }
}