@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@keyframes growWidthTimeLine {
    from {
        width: 0;
    }

    to {
        width: 100px;
    }

}


.helperOverlay {
    width: 100%;
    height: 2400px;
    position: absolute;
    left: 0;
    top: 0;
    background: #000000e3;
    animation: fadeIn .3s forwards alternate;
    z-index: 999;
    transition: .3s;

    &__timeline {
        content: "";
        width: 10px;
        height: 0px;
        background-color: #525252;
        display: block;
        position: absolute;
        left: 4.8%;
        transition: .3s .3s;

        span {
            height: 10px;
            background-color: #525252;
            position: absolute;
            bottom: 0;
            right: 0%;
            animation: growWidthTimeLine .4s forwards alternate .6s;
        }


        &--haveTopDistance {
            &::before {
                content: "";
                top: 0;
                left: -100px;
                height: 10px;
                background: #525252;
                position: absolute;
                width: 100px;
                animation: growWidthTimeLine .2s forwards alternate;
            }
        }
    }


    &--inDestroyProcess {
        background-color: #00000000;
        .helperOverlay__timeline {
            transition-delay: 0s !important;
            opacity: 0 !important;
            background-color: #00000000 !important;
        }
    }
}


.today {
    user-select: none;
    width: 100%;
    position: relative;
    height: 100vh;
    

    &__loadingScreen {
        width: 100vw;
        height: 100vh;
        background: $black;
    }


    &__preventUserInteractOverlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ffffff54;
        z-index: 999;
        transition: .3s;
        
        &--pressed {
            background-color: transparent;
        }
    }
    
    &__droppableContainer {
        max-height: 2400px;
        background: white;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding-left: 180px;
        
    }

    &__habitSidebar {
        height: 90vh;
        position: fixed;
        z-index: 99999999;
        right: 2%;
        top: 2%;
        width: 30vw;
        transition: 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
        background-color: white;
        border: 2px solid white;

        &__habitDirectory {
            transition: .3s;
            opacity: 1;
            height: 100%;
            overflow-y: auto;

        }

        &__habitBlocksContainer {
            max-height: 3000px;
            overflow: hidden;
            transition: .3s .6s;
            position: relative;
            z-index: 75;
        }

        &--full {
            width: 75vw;
            height: 100vh;
            right: 0;
            top: 0;

            .today__habitSidebar__habitBlocksContainer {
                max-height: 0;
                opacity: 0;
            }

        }

        &--close {
            transform: translateX(110%);
            .today__habitSidebar__habitDirectory {
                opacity: 0;
            }
        }

        &--lock {
            transition-delay: 1s;
            transform: translateX(200%);

        }

        &__closeTrigger {
            position: absolute;
            top: 50%;
            transform: translateX(-50%);
            // background-color: rgba(82, 82, 82, 0.384);
            left: -15%;
            padding: 15px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            user-select: none;
            transition: .3s;

            &--flipped {
                transform: rotate(180deg);
            }

        }
    }
}
#Container {
    ::-webkit-scrollbar {
        display: none !important;
    }
}
#Container2 {
    ::-webkit-scrollbar {
        display: none !important;
    }
}