@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@keyframes growWidth {
    from {
        width: 0;
    }

    to {
        width: 100px;
    }

}


.helperOverlay {
    width: 100%;
    height: 150vh;
    position: absolute;
    left: 0;
    top: 0;
    background: #000000d4;
    animation: fadeIn .3s forwards alternate;
    z-index: 50000;

    &__timeline {
        content: "";
        width: 10px;
        height: 200px;
        background-color: #ffffff0f;
        display: block;
        position: absolute;
        left: 4.8%;
        transition: .3s 1s;

        span {
            content: "";
            height: 10px;
            background-color: #383838;
            position: absolute;
            bottom: 0;
            right: 0%;
            animation: growWidth .3s forwards alternate 1.3s;
        }
    }

}

.today {
    user-select: none;
    width: 100%;
    position: relative;
    
    &__droppableContainer {
        max-height: 2400px;
        background: white;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding-left: 180px;
        
    }

    &__habitSidebar {
        height: 90vh;
        position: fixed;
        z-index: 99999999;
        right: 2%;
        top: 2%;
        width: 25vw;
        transition: 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
        background-color: white;

        &__habitDirectory {
            transition: .3s;
            opacity: 1;
            padding: 10px;
            height: 100%;
            overflow-y: auto;

        }

        &--close {
            transform: translateX(110%);
            .today__habitSidebar__habitDirectory {
                opacity: 0;
            }
        }

        &--lock {
            transition-delay: 1s;
            transform: translateX(200%);

        }

        &__closeTrigger {
            position: absolute;
            top: 50%;
            transform: translateX(-50%);
            // background-color: rgba(82, 82, 82, 0.384);
            left: -15%;
            padding: 15px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            user-select: none;
            transition: .3s;

            &--flipped {
                transform: rotate(180deg);
            }

        }
    }
}
#Container {
    ::-webkit-scrollbar {
        display: none !important;
    }
}
#Container2 {
    ::-webkit-scrollbar {
        display: none !important;
    }
}