.btn {
    background-color: $green;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    padding: 20px 40px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    transition: .3s;

    &:disabled {
        opacity: .5;
        cursor: default;
    }
}