.btn {
    background-color: $green;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    padding: 20px 40px;
    border: none;
    font-size: 1.5rem;
    font-family: 'Darker Grotesque';
    font-weight: 600;
    color: rgb(94, 93, 93);
    outline: none;
}