@keyframes showSelected {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        color: black;
    }
}

@keyframes getDistance {
    from {
        margin-bottom: -.5rem;
    }
    to {
        margin-bottom: .5rem;
    }
}


@keyframes comeInto {
    from {
        bottom: -100%;
    }
    to {
        bottom: 0;
    }
}

.colorSuggest {
    display: flex;
    flex-wrap: wrap;
    overflow-x: scroll;
    height: 10rem;
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    animation: comeInto .3s .3s forwards alternate;
    top: 100%;
    transition: .3s;

    & > div {
        flex: 1 0 5rem;
        width: 5rem;
        height: 5rem;
        cursor: pointer;
        transition: .3s;

    }


    &__selectedBox {
        user-select: none;
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        div {
            width: 1rem;
            height: 1rem;
            animation: getDistance .5s forwards alternate;
        }

        p {
            color: transparent;
            animation: showSelected .5s .1s alternate forwards;
        }
    }

    &--active {
        top: 42%;
    }
}