
.loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $green;
    transition: .6s;
    z-index: 999999999999;

    span {
        font-size: 8rem;
        font-weight: 500;
        animation: rotateSymbol 1s forwards infinite linear;
        height: 7.2rem;
        color: $orange;
        cursor: default;
        user-select: none;
        transition: .3s .3s cubic-bezier(0.23, 1, 0.320, 1);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50% , -50%);
    }


    &__menu {
        position: absolute;
        left: 5%;
        bottom: 100%;
        transition: opacity .3s .5s , bottom .3s .1s;
        opacity: 0;
    }


    &--hide {
        height: 0;
        transition: .3s;
        

        span {
            left: 0;
            top: -20px;
            cursor: pointer;
            animation: rotateSymbol 18s forwards infinite linear;
            color: lighten($color: $orange, $amount: 20);
        }

        &:hover {
            height: 5px;
            span {
                color: $orange;
            }
        }

    }


    &--symbolRight {
        span {
            left: 92%;
        }
    }

    &--overlayOpen {
        height: 100vh;

        .loading {
            &__menu {
                transform: translateY(50%);
                opacity: 1;
                bottom: 50%;
            }
        }

        span {
            color: $orange;
        }
        &:hover {
            height: 100vh;
        }
    }
}
