.menuItem {
    font-size: 8rem;
    display: flex;
    align-items: center;

    p {
        cursor: pointer;
        transition: .3s;

        &:hover {
            transform: translateX(50px);
        }
    }
}