.newNoteThing {
    
    &__trigger {
        font-size: 1rem;
        display: flex;
        margin-top: 2rem;
        justify-content: space-between;
        background: linear-gradient(180deg, white, transparent);
        width: 100%;
        transition: .3s;
        max-height: 500px;

        p {
            font-size: 1.5rem;
        }

        div {
            display: flex;
            align-items: center;
            svg {
                width: 1.5rem;
                height: 1.5rem;
                transition: .3s;
            }


            &:hover {
                svg {
                    transform: translateX(-3px);
                }
            }
        }

        
        &__controller {
            cursor: pointer;
        }

        &__done {
            cursor: pointer;
            transition: .3s;

            &--getHide {
                opacity: 0;
            }
        }

        &::after {
            content: "";
            left: 0;
            bottom: 0;
            width: 100%;
            height: 0;
            transition: .3s;
            background-color: white;
            position: absolute;

        }

        &--close {
            overflow: hidden;
            margin-bottom: -44px;
            position: relative;
            margin-top: 0;
            &::after {
                height: 100px;
            }
            & + div {
                
                
                .newNoteThing {
                    
                    &__toolDirectory {
                        margin-top: 0;
                    }
                }


                .toolBox--active {
                    transition: .3s;
                    background: white !important;
                    padding-top: 0;
                    overflow: hidden;

                    .textPlayground {
                        transition: .3s !important;
                        margin: 0 !important;
                    }

                    .imagePlayground {
                        transition: .3s;
                        padding: 0;
                        margin-top: -2px;
                    }

                    .linkPlayground {
                        transition: .3s;
                        padding: 0;

                        input {
                            transition: .3s;
                            margin: 0 !important;
                        }
                    }

                    .descPlayground {
                        .descPlayground__container {
                            transition: .3s;
                            margin-top: 0;
                        }
                    }
                    
                    .toolBox__growLine {
                        width: 0;
                    }

                    & > p {
                        top: -80px !important;
                        transition: .1s !important;
                        transition-delay: 0 !important;
                    }
                }
            }

        }

    }

    &__toolDirectory {
        transition: .5s;
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        max-height: 1000px;
        overflow: hidden;

        &--hide {
            max-height: 0px;
        }
    }
}