.preventOverlayDisableStream {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff54;
    z-index: 999;
    transition: .3s;
    
    &--pressed {
        background-color: transparent;
    }
}