.routineStream {
    z-index: 99;
    position: relative;
    width: 100%;
    min-height: 100px;
    background-color: white ;

    &__name {
        font-weight: 400;
        width: 95%;
        margin: 0 auto;
        padding: 1rem 0;
    }

    &__circle {
        position: relative;
        width: 2rem;
        height: 2rem;
        background-color: white;
        border-radius: 50%;
        cursor: pointer;
        
        & > div {
            width: 80%;
            height: 80%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50% , -50%);
            border-radius: 50%;
        }
    }

    &__footer {
        position: absolute;
        left: 2.5%;
        bottom: 20px;
        display: flex;
        align-items: center;
        opacity: .5;
        transition: .3s;
    }

    &__timeLiftAlert {
        margin-left: 1rem;
        font-size: .8rem;
        span {
            font-weight: 500;
        }
    }

    &__time {
        margin-left: 1rem;
        span {
            font-weight: 500;
        }
    }


    &:hover {
        .routineStream {
            &__footer {
                opacity: 1;
            }
        }
    }
}