@keyframes suggestItemGetVisible {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes getAUniqueWidth {
    from {
        max-width: 0;
    }
    to {
        max-width: 15rem;
    }
}

.routineStream {
    z-index: 999999;
    position: relative;
    width: 100%;
    min-height: 100px;
    background-color: white ;
    overflow: hidden;

    &__name {
        position: absolute;
        left: 5%;
        top: 1rem;
        font-weight: 400;
        z-index: 5;
    }

    &__helperFiller {
        position: absolute;
        left: 2.5%;
        bottom: 20px;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        z-index: 1;
        transition: .3s;
        transform: scale(0);

        &--active {
            opacity: 1;
            height: 2rem;
            width: 2rem;
            transform: scale(70);
        }

    }

    &__circle {
        position: relative;
        width: 2rem;
        height: 2rem;
        background-color: white;
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;

        & > div {
            width: 80%;
            height: 80%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50% , -50%);
            border-radius: 50%;
        }
    }

    &__footer {
        position: absolute;
        left: 2.5%;
        bottom: 20px;
        display: flex;
        align-items: center;
        opacity: .5;
        transition: .3s;
        z-index: 9;

        &--otherVision {
            opacity: 1;

        }
    }


    

    &__timeLiftAlert {
        margin-left: 1rem;
        font-size: .8rem;
        span {
            font-weight: 500;
        }
    }

    &__time {
        margin-left: 1rem;
        span {
            font-weight: 500;
        }
    }

    &__donePreviewText {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        transform: translate(-50% , -50%);
        display: flex;
        align-items: center;
        justify-content: center;

        &__container {
            display: flex;
            min-width: 57%;
            justify-content: center;
            flex-direction: column;
        }
    }

    &__currentSelectedSuggest {
        cursor: pointer;
        margin-left: 1rem;
        transition: .9s .1s;
        max-width: 0;
        white-space: nowrap;
        overflow: hidden;
        font-weight: 500;

        &--haveValue {
            animation: getAUniqueWidth 1s forwards alternate;
        }
    }

    &__suggestHourContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: .9rem;
        transition: .5s linear;
        max-height: 200px;
        overflow: hidden;
        
        &--getHide {
            opacity: 0;
            margin-top: 0;
            max-height: 0;
        }
    }

    &__suggestItem {
        opacity: 0;
        transition: .3s;

        p {
            cursor: pointer;
        }

        &--active {
            opacity: .2 !important;
            p {
                cursor: default;
            }
        }
    }

    &__doneUnitResizable {
        position: relative;
        transition: height .3s;
        z-index: 5;
        overflow: hidden;
        
        
        &--showUp {
            transition: height .3s .4s !important;
            .routineStream {
                &__suggestItem {
                    animation: suggestItemGetVisible 0.6s forwards alternate;
                }
            }
        }

        &--hide {
            transition-delay: 0s !important;
            height: 0 !important;
        }
    }


    &:hover {
        .routineStream {
            &__footer {
                opacity: 1;
            }
        }
    }
}