.setting {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: fixed;
    bottom: 5%;
    align-items: center;
    display: flex;
    background: black;
    right: 5%;
    z-index: 999999;
    justify-content: center;
    transition: .3s cubic-bezier(1, 0, 0, 1);
    color: white;
    cursor: pointer;
    user-select: none;
    overflow: hidden !important;

    p {
        transition: .3s;
    }

    .controller {
        z-index: -5;
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0;
        bottom: -150%;
        transition: .3s;

        &__reset {
            svg { transition: .3s; }
            &:hover {
                background-color: #706353;
                svg {
                    transform: rotate(-180deg);
                }
            }
        }

        button {
            transition: .3s;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            background: transparent;
            border: none;
            cursor: pointer;
            opacity: 0;
            &:disabled {
                opacity: .5;
                cursor: default;
                &:hover {
                    background-color: transparent;
                }
            }
        }
        &--active {
            bottom: 0;
            button {
                opacity: 1;
                transform: translateY(0%) !important;
                &:hover {
                    background-color: #706353;
                }
            }
        }
    }

    &--active {
        right: 0%;
        bottom: 0%;
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }

}