.sliderHabitBlock {
    &__habitItem {
        cursor: pointer;
        user-select: none;
        
        &--leftRotate {
            transform: rotate(-10deg) !important;
        }

        &--rightRotate {
            transform: rotate(10deg) !important;
        }

       

        &__container {
            transition: .3s transform;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}