@keyframes testOtherThings {
    from {
        min-width: 0vh;
    }
    to {
        min-width: calc(100vw - 180px);
    }
}
.sliderHabitBlock {

    &__habitItem {
        cursor: pointer;
        user-select: none;
       
        &__container {
            transition: .3s transform;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;

            div {
                width: 1rem;
                height: 1rem;
                background-color: #f9f9f959;
                border-radius: 50%;
                margin-left: 1rem;
                transition: .3s .3s;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                font-weight: 500;

                p {
                    transition: .3s .3s;
                    white-space: nowrap;
                    color: transparent;
                }
            }


            &:hover {
                & > div {
                    width: 7rem;
                    height: 2rem;
                    border-radius: 0;
                    background-color: #fffffff3;
                    p {
                        color: black !important;
                    }
                }
            }

            &--getFull {
                animation: testOtherThings .3s forwards alternate .5s;
            }
        }
    }
}