// @keyframes fadeIn {
//     from {
//         opacity: 0;
//     }

//     to {
//         opacity: 1;
//     }
// }


// @keyframes growWidthTimeLine {
//     from {
//         width: 0;
//     }

//     to {
//         width: 100px;
//     }

// }

// .stream {
//     user-select: none;
//     width: 100%;
//     position: relative;
//     height: 100vh;

//     &__loadingScreen {
//         width: 100vw;
//         height: 100vh;
//         background: $black;
//     }

//     &__invalidHabitBlock {
//         height: 100px;
//     }

//     &__droppableContainer {
//         max-height: 2400px;
//         background: white;
//         overflow: hidden;
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         padding-left: 180px;
        
//     }

// }
// #Container {
//     ::-webkit-scrollbar {
//         display: none !important;
//     }
// }
// #Container2 {
//     ::-webkit-scrollbar {
//         display: none !important;
//     }
// }




.stream {
    display: flex;
    background-color: white;
    user-select: none;


    &__hour {
        width: 15%;
    }

    &__items {
        min-width: 85%;
    }

}