.streamItem {
    width: 100%;
    height: 100%;
    position: relative;
    
    &__innerContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        transition: .3s .8s;
        transform: translateY(-50%);
        z-index: 3;
        padding: 0 1rem;

        p {
            transition: .3s;
            font-weight: 400;
            cursor: pointer;
        }
    }


    &:hover {
        .react-resizable-handle {
            opacity: 1;
        }
    }

    &--deleting {
        transition: .3s !important;
        opacity: 0;
    }
}