.streamSidebar {
    height: 90vh;
    position: fixed;
    z-index: 99999999;
    right: 2%;
    top: 2%;
    width: 30vw;
    transition: 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
    background-color: white;
    border: 2px solid white;

    &__habitDirectory {
        transition: .3s;
        opacity: 1;
        height: 100%;
        overflow-y: auto;

    }

    &__blockItemsContainer {
        max-height: 3000px;
        overflow: hidden;
        transition: .3s .6s;
        position: relative;
        z-index: 75;
    }

    &--full {
        width: 75vw;
        height: 100vh;
        right: 0;
        top: 0;

        .streamSidebar__blockItemsContainer {
            max-height: 0;
            opacity: 0;
        }

    }

    &--close {
        transform: translateX(110%);
        .stream__habitSidebar__habitDirectory {
            opacity: 0;
        }
    }

    &--lock {
        transition-delay: 1s;
        transform: translateX(200%);

    }

    &__closeTrigger {
        position: absolute;
        top: 50%;
        transform: translateX(-50%);
        left: -15%;
        padding: 15px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        transition: .3s;

        &--flipped {
            transform: rotate(180deg);
        }

    }
}