.targetBox {
    width: 30rem;
    transition: .3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
    position: relative;
    padding: 1rem 1rem 0 1rem;
    min-height: 17rem;
    overflow: hidden;
    

    &__growUpCircle {
        width: 5rem;
        height: 5rem;
        transition: .3s;
        position: absolute;
        left: 50%;
        top: 80%;
        transform: translate(-50% , -50%);
        z-index: 0;

        &--active {
            transform: translate(-50% , -50%) scale(6);
        }

    }

    &__controllerContainer {
        opacity: 0;
        transition: .3s;
        display: flex;
        justify-content: space-between;

        p {
            user-select: none;
            margin-left: 1rem;
            color: rgba(255, 255, 255, 0.534);
            cursor: pointer;
            transition: .3s;

            &:hover {
                color: white;
            }
        }
    }

    &__innerContainer {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__header {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 1rem;

    }

    &__habitItem {
        font-size: 1.2rem;
        margin: .5rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;


        &__deleteHabitController {
            height: 1.5rem;
            width: 1.5rem;
            background-color: #2e2e2e2e;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            & > div {
                transition: .3s;
                background-color: $textColor;
            }
        }
    }

    &__createNewOne {
        margin-top: 2rem;
        width: 100%;
        opacity: 0;
        transition: .3s;
        position: relative;
        height: 2rem;

        input {
            margin: -0.5rem;
            cursor: pointer;
            position: absolute;
            transition: .3s;
            text-align: center;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
        }

        button {
            outline: none;
            background-color: transparent;
            border: none;
            position: absolute;
            top: 100%;
            cursor: pointer;
            font-size: 1rem;
            width: 6rem;
            transition: .3s;
            left: 94%;
            transform: translateX(-50%);
            
            &:disabled {
                color: rgba(255, 255, 255, 0.534);
                cursor: default;
            }

        }

        &--active {
            opacity: 1;

            button {
                top: -10px;
                color: white;
            }

            input {
                text-align: left;
                left: 3%;
                transform: translateX(0);
                cursor: text;
            }
        }

        &--hideBaseOnEdit {
            transform: translateY(155%);
        }

    }


    &__title {
        font-size: 3rem;
        background-color: transparent;
        border: none;
        flex: 1;
        width: 20rem;
        color: black !important;
        
    }

    &__habitContainer {
        width: 100%;
        max-height: 50%;
        overflow-y: scroll;
    }


    

    &:hover .targetBox {
        &__controllerContainer , &__createNewOne{
            opacity: 1;
        }
    }
}