.targetItemColorPicker {
    &__container {
        display: flex;
        align-items: center;
        font-size: 4rem;
        line-height: 30px;
        height: 6.5rem;
        flex-wrap: wrap;
        margin-bottom: 2rem;
        transition: .3s;

        &--shrink {
            height: 3.2rem;
        }

    }
    
    &__doneTrigger {
        align-self: flex-end;
        display: flex;
        align-items: center;
        user-select: none;

        p {
            font-size: 3rem;
            cursor: pointer;
            color: grey;
            transition: .3s;
            
            &:hover {
                color: white;
            }
        }

        &--disabled {
            p {
                cursor: default;
                color: rgba(59, 59, 59, 0.548);
                &:hover {
                    color: rgba(59, 59, 59, 0.548);
                }
            }
        }

    }

    &__color {
        cursor: pointer;
        line-height: 0;
        transition: .1s;
        word-spacing: -100px;

        &:not(:first-child) {
            margin: 0 10px !important;
        }
        user-select: none;
        text-decoration: underline;
        text-decoration-color: transparent;
        
        &--active {
            font-size: 5.5rem;
            margin: 0 20px;
        }
        
    }
}