@keyframes grow {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    40% {
        opacity: .5;
        transform: scale(25);
    }


    100% {
        opacity: 0;
        transform: scale(25);
    }
}




.todoInjector {
    margin-top: 1rem;
    backdrop-filter: blur(0);
    font-size: 1.2rem;

    &__container {
        width: 100%;
        
        
        & > form {
            display: flex;
            align-items: center;
            margin-bottom: 2.5rem;
            position: sticky;
            left: 0;
            top: 0;
            z-index: 555;
            background: linear-gradient(180deg, white , #ffffff73, #ffffff80);
        }

    }


    &__controller {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: auto;
        margin-right: 1rem;
    }

    &__helperController {
        p {
            text-align: right;
            padding: 1rem;
            cursor: pointer;
        }
    }

    &__closeTrigger {
        flex: 0 !important;
        text-align: right;
        transition: .3s .2s;
        transform: translateX(100%);
        opacity: 0;

        p {
            cursor: pointer;
            padding: 0.5rem;
        }

        &--active {
            flex: 1 !important;
            transform: translateX(0%);
            opacity: 1;
        }
    }

    &__flash {
        position: absolute;
        z-index: -5;
        left: 0;
        width: 50px;
        height: 50px;
        background: rgba(250, 189, 57, 0.39);
        animation: grow .8s forwards alternate;
        border-radius: 50%;
    }

    &__input {
        width: 100%;
        padding: .5rem;
        outline: none;
        border: none;
        z-index: 5;
        position: relative;
        transition: .3s;
        background-color: transparent;
        font-size: 1.2rem;

        &--interpolate {
            color:  rgb(250, 189, 57);
        }
    }

    &__helperPlayground {
        display: flex;
        align-items: center;
        flex-direction: row;
        height: 100%;
        padding-left: .5rem;
        position: absolute;
        top: 0;
        user-select: none;
        z-index: -5;
    }


    &--inFullMode {
        margin-top: 0;
        transition: .3s;
        .todoInjector {
            &__input {
                font-size: 2.6rem;
            }

            &__helperPlayground {
                font-size: 2.6rem;
            }
        }
    }
}