@keyframes test {
    to {
        color: white;
    }
}


.todayHoursRow {
    height: 100px;
    padding-left: 50px;
    display: flex;
    align-items: center;
    transition: .5s;



    &__container {
        &--rowInHover {
            &:hover {
                .todayHoursRow:nth-child(2n) {
                    background: rgba(128, 128, 128, 0.096);
                }
            }
        }
    }



    &__index {
        font-size: 4.5rem;
        font-weight: 600;
        color: rgb(82, 82, 82);
        transition: .3s;
    }


    &--timelineSelected {
        position: relative;

        p {
            color: white !important;
        }
    }
}