@keyframes growAsWidth {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.writeableDetails {
    padding-top: 4rem;
    transition: .3s;
    
    &__input {
        outline: none;
        width: 100%;
        opacity: 0;
        background: transparent;
        border: none;
        font-size: 1.2rem;
        color: $darkGrey;
        animation: growAsWidth 1s alternate forwards 2s;
        resize: none;
        &::placeholder {
            color: rgba(0, 0, 0, 0.425);
        }

    }

    &--inCloseProcess {
        opacity: 0;
    }
}