.blockController {
    position: absolute;
    left: 0%;
    top: 0;
    transition: .3s;
    opacity: 0;
    color: $darkGrey;
    
    &__removeTrigger {
        p {
            transition: .3s;
            &:hover {
                color: $red;
            }
        }
        
    }
    
    &--visible {
        left: -10%;
        opacity: 1;
        
        
        .blockController {
            &__removeTrigger {
                cursor: pointer;
            }
        }
    }
}