.imageBlock {
    width: 100%;
    &__image {
        background-size: cover !important;
        background-repeat: no-repeat !important;
        
        &--left {
            margin-right: auto;
        }

        &--center {
            margin: 0 auto;
        }

        &--right {
            margin-left: auto;
        }
    }
}