@keyframes imageBlockGetSpace {
    from {
        margin-top: 0;
    }
    to {
        margin-top: 1rem;
    }
}
.imageBlock {
    width: 100%;

    animation: imageBlockGetSpace .5s 1s forwards alternate;
    &__image {
        background-size: cover !important;
        background-repeat: no-repeat !important;
        
        &--left {
            margin-right: auto;
        }

        &--center {
            margin: 0 auto;
        }

        &--right {
            margin-left: auto;
        }
    }
}