@keyframes textBlockGetSpace {
    from {
        margin: 0rem 0;
    }
    to {
        margin: 1rem 0;
    }
}
.textBlock {
    position: relative;
    animation: textBlockGetSpace .5s .5s forwards alternate;

    &__container {
        position: relative;
        background: white;
        z-index: 20;
    }


    &__removeTrigger {
        position: absolute;
        left: 0%;
        top: 0;
        transition: .3s;
        opacity: 0;
        color: $grey;

        p {
            cursor: pointer;
            transition: .3s;

            &:hover {
                color: grey;
            }
        }

        &--show {
            left: -10%;
            opacity: 1;
        }
    }
}
