
.linkPlayground {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    
    
    input {
        &:focus {
            & + div {
                transform: rotate(-45deg);
            }
        }
    }
    &__input {
        &--webLink {
            text-decoration: underline;
            color: $blue;
        }

        &--date {
            color: $orange;
            text-decoration: underline;
        }
    }

    &__prefix {
        transition: .3s;
        min-width: 0;
        height: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        
        &--inMode {
            min-width: 1rem;
            margin-right: 1rem;
        }
    }

}