@keyframes formGetWidth {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
.linkPlayground {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    
    
    &__input {
        outline: none;
        border: none;
        // flex: 1;
        background: transparent;
        width: 0;
        animation: formGetWidth .9s .5s alternate forwards;

        &--webLink {
            text-decoration: underline;
        }
    }

    &__prefix {
        transition: .3s;
        min-width: 0;
        height: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        &--webLink {
            min-width: 1rem;
            margin-right: 1rem;
            & + input {
                color: $blue;
            }
            &:hover {
                transform: rotate(-45deg);
            }
        }

        &--date {
            min-width: 1rem;
            margin-right: 1rem;
            & + input {
                color: $orange;
                text-decoration: underline;
            }
        }
    }

}