@keyframes formGetWidth {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.playgroundInput {
    outline: none;
    border: none;
    background: transparent;
    width: 0;
    animation: formGetWidth .9s .5s alternate forwards;
    font-size: 1.2rem !important;

    &--inBlock {
        animation: none;
        width: 100%;
    }
}