* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'Vazir', sans-serif;
    ::-webkit-scrollbar {
        display: none !important;
    }
}


.HANA {
    background-color: red;
}