* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
input,
textarea {
    font-family: 'Inter', 'Vazir', sans-serif;
    // font-size: 1.6rem;
    // font-weight: 500;
}

* {
    ::-webkit-scrollbar {
        display: none !important;
    }
}

.mainContainer {
    overflow-x: hidden;
    height: 100vh;
    background-color: white;
}
.__dayContainer {
    min-width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.__innerContainer {
    width: 95%;
    height: 90%;
    display: flex;
    position: relative;
    transition: .2s .7s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    &--active {
        width: 100%;
        height: 100%;
    }

    &--deActive {
        transition-delay: 0 !important;
        width: 70%;
        height: 70%;
        opacity: .5;
    }
}

.setting {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    bottom: 5%;
    align-items: center;
    display: flex;
    background: black;
    right: 5%;
    z-index: 999999;
    justify-content: center;
    transition: .3s cubic-bezier(1, 0, 0, 1);
    color: white;
    cursor: pointer;
    user-select: none;
    p {
        transition: .3s;
    }

    .controller {
        height: 100%;
        width: 100%;
        z-index: -5;
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0;
        overflow: hidden;


        &__reset {
            padding: 15px;
            position: absolute;
            left: 5%;
            top: 5%;
            transition: .3s;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
                transition: .3s;
            }
            &:hover {
                background-color: #706353;
                svg {
                    transform: rotate(-180deg);
                }
            }
        }

        button {
            transition: .3s;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            background: transparent;
            border: none;
            cursor: pointer;
            opacity: 0;
            &:first-child {
                transform: translateY(-100%);
            }
            &:last-child {
                transform: translateY(100%);
            }
            &:disabled {
                opacity: .5;
                cursor: default;
                &:hover {
                    transform: translateX(0%) !important;
                    background-color: transparent;
                }
            }
        }
        &--active {
            button {
                opacity: 1;
                transform: translateY(0%) !important;
                &:first-child {
                    &:hover {
                        transform: translateX(15%) !important;
                        background-color: #706353;
                    }
                }
                &:last-child {
                    &:hover {
                        transform: translateX(-15%) !important;
                        background-color: #706353;
                    }
                }
            }
        }
    }

    &--active {
        right: 0%;
        bottom: 0%;
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }

}