* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'Vazir', sans-serif;
    ::-webkit-scrollbar {
        display: none !important;
    }
}


.layout {
    min-width: 100%;
    min-height: 100%;
}

.react-grid-item.react-grid-placeholder {
    background-color: $grey !important;
    z-index: -2;
}


.TestHandler {
    width: 100px;
    height: .5rem;
    background-color: black;
    
}

.react-resizable-handle {
    background: rgba(236, 236, 236, 0.253);
    width: 4rem !important;
    height: 2rem;
    position: relative;
    transition: .3s .1s;
    opacity: 0;

    &::after {
        border-right: 2px solid rgba(0, 0, 0, 0.1); 
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    }
}